{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .mycont {
        {#height: 500px;#} width: 500px;
            margin: 60px auto;
            border: 1px solid #dddddd;
            padding: 40px;
            box-shadow: 5px 5px 20px;
        }

        .text1 {
            text-align: center;
            margin-top: 10px;
        }

    </style>
</head>
<body>
<div class="container-fluid clearfix mycont">
    <h1 class="text1">用户登录</h1>
    <form class="form-horizontal" method="post" novalidate>
        {% csrf_token %}

        <div class="form-group">
            <label style="margin-top: 5px">{{ form.username.label }}</label>
            {{ form.username }}
            <span style="color: red;">{{ form.username.errors.0 }}</span>
        </div>

        <div class="form-group">
            <label style="margin-top: 5px">{{ form.password.label }}</label>
            {{ form.password }}
            <span style="color: red;">{{ form.password.errors.0 }}</span>
        </div>

        <div class="form-group">
            <label style="margin-top: 5px">{{ form.verify.label }}</label>
            <div class="row">
                <div class="col-md-7">
                    {{ form.verify }}
                    <span style="color: red">{{ form.verify.errors.0 }}</span>
                </div>
                <div class="col-md-5">
                    <img src="/login/code/" id="codepic" style="border:1px solid darkcyan;">
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-info" style="margin-top: 5px">登录</button>
        </div>
    </form>
</div>

<script src="{% static 'js/jquery-3.6.3.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>


</body>
</html>